
<div>
    <!-- <button>&#9776;</button> -->
    <br><table class="center" *ngIf="show" style="width:100%;">
        <tr>
          <th style="height:50px;" >Application Name</th>
          <th>Status</th>
          <th>Action</th>
          <!-- <th>Delete</th> -->
        </tr>
        <tr style="height:50px;" class="center" *ngFor="let Service of Services">
            <td>{{Service.serviceUrl}}</td>
            <td>{{Service.status}}</td>
            <td>
                <button class="" (click)="callTemp(Service)" >&#8635;</button>  &nbsp;&nbsp;&nbsp;
                <button class="" >&#274C;</button>
            </td>
            
          </tr>
    </table>  
    <h1>{{temp}}</h1>
    </div>
