
<div>
    <br><table class="center"  style="width:100%;">
        <tr>
          <th style="height:50px;" >Application Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        <tr style="height:50px;" class="center" *ngFor="let singleService of Services">
            <td>{{singleService.name}}</td>
            <td [ngStyle]="{'background-color':getColor(singleService.status)}" >{{singleService.status}}</td>
            <td>
                <button  (click)="callRefresh(singleService)" >&#8635;</button>  &nbsp;&nbsp;&nbsp;
                <button  >&#10060;</button>
            </td>
          </tr>
    </table>  
    </div>
