<meta charset="utf-8">
<!DOCTYPE html>
<html>

<body>

  <ul>
    <li><a routerLink="devDashBoard" (click)="devTabCall()">DEV</a></li>
    <li><a routerLink="qaDashBoard" (click)="qaTabCall()">QA</a></li>
    <li><a routerLink="uatDashBoard" (click)="uatTabCall()">UAT</a></li>
    <li><a routerLink="prodDashBoard" (click)="prodTabCall()">PROD</a></li>
    <li style="float:right"><a class="active" href="#about">&#9776;</a></li>
  </ul>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</body>

</html>

<!-- 
<nav>
  <div class="nav nav-tabs  flex-column flex-sm-row"  id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">DEV</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">QA</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">UAT</button>
    <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" >PROD</button>
  </div>
</nav> -->
